.esquina {
  max-width: 100%;
  max-height: 100%;
  background-color: aliceblue;
  position: relative;
}

.esquina.top-left {
  border-top-left-radius: 50px;
  grid-column: 1;
  grid-row: 1;
  margin: 10px 0 0 10px;
}

.esquina.top-right {
  border-top-right-radius: 50px;
  grid-column: 3;
  grid-row: 1;
  margin: 10px 10px 0 0;
}

.esquina.bottom-left {
  border-bottom-left-radius: 50px;
  grid-column: 1;
  grid-row: 2;
  margin: 0 0 10px 10px;
}

.esquina.bottom-right {
  border-bottom-right-radius: 50px;
  grid-column: 3;
  grid-row: 2;
  margin: 0 10px 10px 0;
}