---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import Esquinas from './Esquinas.astro';
import './Hero-section.css'
---

<main class="main-container">
	<Esquinas id="pieza1" positionClass="top-left"></Esquinas>
	<Esquinas id="pieza3" positionClass="top-right"></Esquinas>
	<Esquinas id="pieza4" positionClass="bottom-left"></Esquinas>
	<Esquinas id="pieza6" positionClass="bottom-right"></Esquinas>
</main>
