---
import './Medios.css'

const { id = "", top = false, bottom = false, backgroundImage = null } = Astro.props;
---

<section id={id} class=`medios ${top ? "top" : ""} ${bottom ? "bottom" : ""}` >
  { backgroundImage ? <img class="background-medios" src={backgroundImage} /> : null}
</section>